@{
    ViewData["Title"] = "Home Page"; 
}

<div class="text-center">
    <h1 class="display-4 text-[800]	text-stone-950;">Welcome to SoftClub</h1>  
    <p> <a href="https://www.softclub.tj/">SoftClub.tj</a>.</p>  
     <h2> index account</h2> 
</div>

